<div class="container">
  <div class="subContainer">
    <div class="mainContainer">
      <app-logo></app-logo>
      <div role="icon" class="center pointer">
        <img src="../../assets/icons/search.svg" alt="search" />
      </div>
      <div class="exploreDiv">
        <div class="center pointer">Explore</div>
        <div class="center pointer">
          <img src="../../assets/icons/down-arrow.svg" />
        </div>
      </div>
      <div class="library body1">
        <a routerLink="/mylibrary"></a> My Library
      </div>
    </div>
    <div class="exploreDiv">
      <div>
        <img src="../../assets/icons/avatar.svg" />
      </div>
      <div>
        <img src="../../assets/icons/down-arrow.svg" class="downArrow" />
      </div>
    </div>
  </div>
</div>
