<div class="container">
  <div class="subContainer">
    <div class="mainContainer">
      <app-logo></app-logo>
      <div role="icon" class="center pointer">
        <img src={{constants.sources[3]}} alt="svg" />
      </div>
      <div class="exploreDiv">
        <div class="center pointer" (click)="dropDown()">Explore</div>
        <div class="center pointer">
          <img src={{constants.sources[4]}} alt="svg"/>
        </div>
      </div>
      <div class="library body1" routerLink="/library">My Library</div>
    </div>
    <div class="exploreDiv">
      <div>
        <img src={{constants.sources[5]}} alt="svg" />
      </div>
      <div class="arrow">
        <img src={{constants.sources[4]}} class="downArrow" alt="svg"/>
      </div>
    </div>
  </div>
</div>

<app-modal #modal *ngIf="constants.modal==1"></app-modal>
