<div class="outerfoot">
  <div class="innerfoot">
    <div class="title1">
        <img src="../../assets/icons/logo.png" alt="logo"/>
        <div class="text">Big ideas in small packages Start learnign now</div>
    </div>
    <div class="title">
        <div class="heading">Editorial</div>
        <div class="caption">Book lists</div>
        <div class="caption">What is Nonfiction?</div>
        <div class="caption">What to read next?</div>
        <div class="caption">Benefits of reading</div>
    </div>
    <div class="title">
      <div class="heading">Useful links</div>
      <div class="caption">Pricing</div>
      <div class="caption">Blinkist business</div>
      <div class="caption">Gift cards</div>
      <div class="caption">Blinkist magaine</div>
      <div class="caption">Contact & help</div>
    </div>
    <div class="title">
      <div class="heading">Company</div>
      <div class="caption">About</div>
      <div class="caption">Careers</div>
      <div class="caption">partners</div>
      <div class="caption">Code of Conduct</div>
    </div>
  </div>
  <div class="bottom">© Blinkist 2021 Sitemap   |   Imprint   |   Terms of Service   |   Privacy Policies</div>
</div>
