<div class="outerfoot">
  <div class="innerfoot">
    <div class="title1">
        <img src={{constants.details[0]}} alt="logo"/>
        <div class="text">{{constants.details[1]}}</div>
    </div>
    <div class="title">
        <div class="heading" >{{constants.headings[0]}}</div>
        <div class="caption" *ngFor="let item of constants.links1" >{{item}}</div>
    </div>
    <div class="title">
      <div class="heading" >{{constants.headings[1]}}</div>
      <div class="caption"  *ngFor="let item of constants.links2">{{item}}</div>
    </div>
    <div class="title">
      <div class="heading" >{{constants.headings[2]}}</div>
      <div class="caption"  *ngFor="let item of constants.links3">{{item}}</div>
    </div>
  </div>
  <div class="bottom">{{constants.rights}}</div>
</div>
