.book {
  margin: 20px 15% 40px 0px;
}
.bookfilter{
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 33.33%;
  padding-bottom: 20px;
}
.booklist {
  width: 72%;
  margin: 0px 15% 10% 15%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  justify-content: space-between;
}

.blinks {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #03314b;
}
.filter{
  flex-wrap: wrap;
  display: flex;
  width: 115%;
}
@media only screen and (max-width: 900px) {
  .filter{
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
  }
}
@media only screen and (max-width: 450px) {
  .filter{
    display: flex;
    flex-wrap: wrap;
    gap: 50%;
  }
}
