<div class="booklist">
  <div class="row">
    <div class="blinks">{{constants.booklist[0]}}</div>
    <div class="container">
      <ng-container  *ngFor="let book of constants.bookList"let i="index">
          <app-book class="book" [book]="book"
                *ngIf="book.audio && book.just==false"
          ></app-book>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="blinks">{{constants.booklist[1]}}</div>
    <div class="container">
      <ng-container  *ngFor="let book of constants.bookList"let i="index">
          <app-book class="book" [book]="book"
                *ngIf="book.just==true"
          ></app-book>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="blinks">{{constants.booklist[2]}}</div>
    <div class="container">
      <ng-container  *ngFor="let book of constants.bookList"let i="index">
          <app-book class="book" [book]="book"
                *ngIf="book.audio==true"
          ></app-book>
      </ng-container>
    </div>
  </div>
</div>


