.book {
  margin: 20px 15% 40px 0px;
}
.bookfilter{
  margin: 20px 11.8rem 40px 0px;
}
.booklist {
  width: 72%;
  margin: 0px 15% 10% 15%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blinks {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #03314b;
}
.filter{
  flex-wrap: wrap;
  display: flex;
}
