
.outer {
  display: flex;
  padding-top: 2px;
}
.container{
  padding-top: 12px;
}
.bar{
  display: flex;
  padding-top: 22px;
}
.short {
  background: #dfe8f6;
  border-radius: 0px 0px 8px 8px;
  width: 88px;
  height: 15px;

  background: #e1ecfc;
  border-radius: 0px 0px 0px 8px;
}
.long {
  width: 195px;
  background: #f1f6f4;
  border-radius: 0px 0px 8px 0px;
}
svg-icon{
  display: grid;
  justify-content: flex-end;
  padding-right: 5px;
}
