.heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  color: #03314B;
}

.subheading {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.63px;
  color: #6D787E;
}

.mainContainer {
  background-color: #F1F6F4;
  display: flex;
  margin: 0 auto;
  gap: 30%;
  width: 72%;
  height: 264px;
  justify-content: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  bottom: 45px;
  top: 45px;
  position: relative;
  gap: 15px;
}

.topLContainer {
  height: 90px;
  width: 319px;
}

.bottomLContainer {
  height: 69px;
  width: 461px;
}
.bannerGirl{
  height: 264px;
}

@media only screen and (max-width: 900px) {
  .mainContainer {
    background-color: #F1F6F4;
    display: flex;
    margin: 0 auto;
    gap: 30%;
    width: 72%;
    height: 264px;
    justify-content: center;
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    bottom: 45px;
    top: 45px;
    left: 40%;
    position: relative;
    gap: 15px;
  }
}
