<div class="container">
  <div class="outercontainer">
    <div class="sub1">
      <div class="font1">{{ constants.bookDetail[0] }}</div>
      <div class="font2">{{ constants.bookList[constants.id].cardName }}</div>
      <div class="font3">{{ constants.bookDetail[4] }}</div>
      <div class="font4">{{ constants.bookList[constants.id].authorName }}</div>
      <div class="icon">
        <svg-icon src="{{ constants.sources[0] }}"></svg-icon>
        <div class="font5">
          {{ constants.bookList[constants.id].timeStamp }}
        </div>
      </div>
      <div class="btn">
        <button class="btn1">
          {{ constants.bookDetail[1] }}
        </button>
        <button class="btn2">
          {{ constants.bookDetail[2] }}
        </button>
        <button class="btn3">
          {{ constants.bookDetail[3] }}
          <svg-icon src="{{ constants.sources[6] }}"></svg-icon>
        </button>
      </div>
    </div>
    <div class="sub2">
      <img src="{{ constants.bookList[constants.id].src }}" alt="poster" />
    </div>
  </div>
  <div class="tabcontainer">
    <div class="tabs">
      <div class="tab" (click)="onClick(1)" [class.onselect]="tab === 1">
        {{ constants.tabs[0] }}
      </div>
      <div class="tab" (click)="onClick(2)" [class.onselect]="tab === 2">
        {{ constants.tabs[1] }}
      </div>
      <div class="tab" (click)="onClick(3)" [class.onselect]="tab === 3">
        {{ constants.tabs[2] }}
      </div>
    </div>
    <span *ngIf="tab == 1" class="content">{{
      constants.bookList[constants.id].cardName +
        constants.content1[0] +
        constants.bookList[constants.id].authorName +
        constants.content1[1]
    }}</span>

    <span *ngIf="tab == 2" class="content">{{ constants.content1[2] }}</span>
    <span *ngIf="tab == 3" class="content">{{
      constants.bookList[constants.id].authorName
    }}</span>
  </div>
  <hr class="hr" />
</div>
