.outermodel {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #f1f6f4;
  width: 100%;
  height: 398px;
  margin-top: 90px;
  z-index: 10;
}
.innermodel {
  height: 350px;
  opacity: 1;
  background: #f1f6f4;
  margin: 30px 250px 10px 250px;
}
.modalheading {
  display: flex;
  gap: 20%;
}

.h1popup {
  font-weight: 700;
  font-size: 16px;
  line-height: 20.11px;
  color: #116be9;
  padding-bottom: 8px;
}
.h2popup {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6d787e;
  padding-bottom: 10px;
}
.h3popup {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #6d787e;
  text-transform: none;
}
.sub {
  display: flex;
  gap: 20%;
}
.modal {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 241%;
  margin-top: 350px;
  background: rgba(157, 163, 166, 0.45);
}
.row {
  display: grid;
  gap: 25px;
}
.icontext {
  display: flex;
  gap: 10px;
}
.pointer{
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .innermodel {
    height: 450px;
    opacity: 1;
    background: #f1f6f4;
    margin: 30px 20px 10px 30px;
  }
  .modal {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 241%;
    margin-top: 450px;
    background: rgba(157, 163, 166, 0.45);
  }
  .outermodel {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #f1f6f4;
    width: 100%;
    height: 490px;
    margin-top: 90px;
    z-index: 10;
  }
}
@media only screen and (max-width: 450px) {
  .sub {
    display: flex;
    gap: 0;
  }
  .innermodel {
    height: 550px;
    opacity: 1;
    background: #f1f6f4;
    margin: 30px 20px 10px 30px;
  }
  .modal {
    z-index: 20;
    position: absolute;
    width: 100%;
    min-height: fit-content;
    margin-top: 500px;
    background: rgba(157, 163, 166, 0.45);
  }
  .outermodel {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #f1f6f4;
    width: 100%;
    height: 550px;
    margin-top: 90px;
    z-index: 10;
  }
}

