<div>
  <div class="outermodel">
    <div class="innermodel">
      <div class="modalheading">
        <div class="h1popup">{{title}}</div>
        <div class="h2popup" *ngFor="let msg of heading">{{msg}}</div>
      </div>
      <hr>
      <div class="sub" >
        <div class="row" >
          <div class="icontext" *ngFor="let item of row1;let i=index" >
            <svg-icon src={{item[0]}}></svg-icon>
            <div class="h3popup" (click)="navFun(i)">{{item[1]}}</div>
          </div>
        </div>
        <div class="row" >
          <div class="icontext" *ngFor="let item of row2;">
            <svg-icon src={{item[0]}}></svg-icon>
            <div class="h3popup">{{item[1]}}</div>
          </div>
        </div>
        <div class="row" >
          <div class="icontext" *ngFor="let item of row3;">
            <svg-icon src={{item[0]}}></svg-icon>
            <div class="h3popup">{{item[1]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal"></div>
</div>


