.search::placeholder {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #6d787e;
}

.search {
  border: none;
  width: 658px;
  height: 46px;
  display: grid;
  justify-content: center;
  align-items: center;

}

.search:focus {
  outline: none;
}

.banner {
  margin-bottom: 3rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 0px 0px;
}

.bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0px 4rem -130px;
  border-bottom: 2px solid black;
  width: 658px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
}
@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 88%;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 85%;
  }
  .bar {
    display: flex;
    margin: 0px 320px 4rem 0px;
    border-bottom: 2px solid black;
    width: 330px;
  }
}

